%h4
  = t("titles.adopted", :thing_name => @thing.name ? @thing.name.titleize : t("defaults.this_thing", :thing => t("defaults.thing")))
- @thing.users.each do |u|
  = t("titles.byline", :name => u.name)
  = t("titles.ofline", :organization => u.organization) unless u.organization.blank?
  %br 
%h6
  = t("titles.sign_in", :thing => t("defaults.thing").titleize)
